.mhy-account-info {
    margin-left: 40px;
    font-size: 20px;
}

.mhy-account-info .sub-title {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    margin-top: .3rem;
    color: #a6a6a6
}

.mhy-account-info .account-info-container {
    padding: 0 .16rem;
    color: #37c12f
}



.mhy-account-info .account-info-item {
    padding: .2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: normal;
}

.mhy-account-info .account-info-label {
    width: 2.2rem;
    padding-right: .05rem;
    color: #333;
}

.mhy-account-info {
    margin-left: 40px;
    font-size: 20px
}

.mhy-account-info .sub-title {
    font-size: 30px;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    margin-top: .3rem;
    color: #37c12f
}

.mhy-account-info .account-info-container {
    padding: 0 .16rem;
    color: #a6a6a6
}
.mhy-account-info .account-info-container {
    padding: 0 .16rem;
    color: #a6a6a6
}

.mhy-account-info .account-info-item {
    padding: .2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

account-info-item {
    float: left;
}
.mhy-account-info .account-info-label {
    width: 2.2rem;
    padding-right: .05rem;
    color: #333
}

body,html {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #fff;
    font-size: 100px;
    color: #333;
    font-family: Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif
}




* {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

#root {
    width: 100%;
    height: 100%;
    min-width: 1300px;
    overflow-y: scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #f8f8f8;
    position: relative;
    font-size: .14rem
}




.IQPHvE {
    width: 17.5rem;
    overflow: hidden;
    display: flex;
    float: right;

}
.IQPHvE {
    justify-content: center;
}

.control-label {
    font-weight: 400;
}
label {
    margin-bottom: 5px;
    font-weight: 700;
}

.img-thumbnail, label {
    display: inline-block;
    max-width: 20%;
}
img, canvas {
    max-width: 20%;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -ms-user-select: none;
    user-select: none;
}

.btn, .caret, .checkbox-inline, .radio-inline, img {
    vertical-align: middle;
}

.btn, .owl-controls {
    -webkit-user-select: none;
    -moz-user-select: none;
}


.SlaeTm {
    text-align: center;
}

